{{!< default}}

<div class="gh-page">
    <div class="gh-container">

        <div class="gh-postfeed">
        {{#foreach posts visibility="all"}}

            {{> "card"}} {{!-- partials/card.hbs --}}

            {{#unless @last}}<hr style="width: 80%; margin: 8vmin auto 0 auto;" />{{/unless}}

        {{/foreach}}
        </div>

    </div>
</div>
